<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myWishListLabel">Create or edit a Wish List</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!wishList.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="wishList.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_dateOfCreate">Date Of Create</label>
            <div class="d-flex">
                <input id="field_dateOfCreate" type="datetime-local" class="form-control" name="dateOfCreate" [(ngModel)]="wishList.dateOfCreate"
                required/>
            </div>
            <div [hidden]="!(editForm.controls.dateOfCreate?.dirty && editForm.controls.dateOfCreate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dateOfCreate?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.dateOfCreate?.errors?.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>

        <div [hidden]="!(editForm.controls.user?.dirty && editForm.controls.user?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.user?.errors?.required">
                This field is required.
            </small>
        </div>
        <div [hidden]="!(editForm.controls.book?.dirty && editForm.controls.book?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.book?.errors?.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
