
<div *ngIf="wishList">
    <h2><span>Wish List</span> {{wishList.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Date Of Create</span></dt>
        <dd>
            <span>{{wishList.dateOfCreate | date:'medium'}}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
            {{wishList.user?.Login}}
        </dd>
        <dt><span>Book</span></dt>
        <dd>
            <div *ngIf="wishList.book">
                <a [routerLink]="['/book', wishList.book?.id]">{{wishList.book?.UserId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'wish-list/'+ wishList.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
